name: Continuous Delivery (CD)

# https://docs.github.com/en/actions/using-jobs/assigning-permissions-to-jobs
permissions:
  contents: write

on:
  release:
    types: [published]

env:
  # Forcing Earthly to use colours, to make reading output easier.
  FORCE_COLOR: 1

jobs:
  release-artifacts:
    name: Release artifacts.
    runs-on: ubuntu-latest
    steps:
      - name: Download Earthly v0.8.12.
        run: "sudo /bin/sh -c 'wget https://github.com/earthly/earthly/releases/download/v0.8.12/earthly-linux-amd64 -O /usr/local/bin/earthly && chmod +x /usr/local/bin/earthly'"
      - name: Checkout code.
        uses: actions/checkout@v3
      - name: Release artifacts.
        run: earthly --ci --secret GH_TOKEN +release-artifacts --release "${GITHUB_REF_NAME}"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by GitHub Actions.
  publish:
    name: Publish.
    runs-on: ubuntu-latest
    steps:
      - name: Download Earthly v0.8.12.
        run: "sudo /bin/sh -c 'wget https://github.com/earthly/earthly/releases/download/v0.8.12/earthly-linux-amd64 -O /usr/local/bin/earthly && chmod +x /usr/local/bin/earthly'"
      - name: Checkout code.
        uses: actions/checkout@v3
      - name: Publish.
        run: earthly --ci --secret CARGO_REGISTRY_TOKEN +publish
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
