name: Dogfood

on: pull_request

permissions:
  contents: read

jobs:
  github-actions-example:
    name: GitHub Actions Example
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code.
        uses: actions/checkout@v4
      - name: Check whitespace consistency.
        uses: docker://ghcr.io/developerc286/consistent_whitespace:v0.6.0
        with:
          args: .
