name: Dogfood

on: pull_request

permissions:
  contents: read

jobs:
  docker:
    name: Docker
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code.
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Dogfooding Docker
        run: make dogfood-docker
