name: GitHub Actions Workflows

on: pull_request

permissions:
  contents: read

jobs:
  linting:
    name: Linting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code.
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Setup mise.
        uses: jdx/mise-action@9dc7d5dd454262207dea3ab5a06a3df6afc8ff26 # v3
      - name: Check GitHub Actions workflows linting.
        run: make check-github-actions-workflows-linting
  formatting:
    name: Formatting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code.
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Check formatting.
        run: make check-yaml-formatting
